.border {
  height: px;
  width: 300px;
  background: linear-gradient(90deg, blue 10%, transparent 20%);
  background-repeat: repeat-x;
  background-size: 15px 4px;
  background-position: 0px 0px;
  padding: px;
  animation: border-dance 4s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}


/* Scroll Bar */
:root {
    --primary: #191919;
    --secondary: #001f6d;
    --tertiary: #012e72;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary);
  }









#particles-js {
  width: 100%;
background: #000000;
}